.margin {
  margin: 30px;
}

.article-body {
  margin: 20px;

}

.blue-color {
   background: dodgerblue;
   color: white;
   position: absolute;
   bottom: 0;
   width: 1250px;
 }

.blue-color-main {
  background: dodgerblue;
  color: white;
  position: relative;
  bottom: 0;
  width: 1250px;
}


.white-color {
  color: white;
}

.enter-message {
 margin: 40px;
    color: dodgerblue;
}

.ml-40 {
  margin-left: 40px;
}

.center {
  align-items: center;
  margin: auto;
}

.img-wrapper {
  width: 100px;
}

.article-header {
  margin: 5px;
}

