.margin {
  margin: 30px;
}

.blue-color {
  background: dodgerblue;
  color: white;
  position: absolute;
  bottom: 0;
  width: 1250px;
}

.white-color {
  color: white;
}

.center {
  align-items: center;
  margin: auto;
}

.img-wrapper {
  width: 100px;
}

